<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body  class="page">
  <header class="page-header">
      <div class="services">
        <div class="services-content">
          <a class="logo-header" href="/">
            <img src="{{ url_for('static', filename='img/logo.svg')}}" width="65" height="65" alt="Логотип яхт клуба">
          </a>
          <a class="location" href="#">Сочи</a>
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>

          <li class="site-navigation-item">
            <a href="/rent">Аренда яхты</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Команда</a>
          </li>
          <li class="site-navigation-item">
            <a href="gallery">Галерея</a>
          </li>
          <li class="site-navigation-item">
            <a href="/news">Новости</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
        <a class="favorite" href="/favorite">
          <img src="{{ url_for('static', filename='img/heart.svg')}}" width="34" height="34" alt="Избранное">
        </a>
        <a class="signin" href="#">
          <img src="{{ url_for('static', filename='img/user.svg')}}" width="16" height="18" alt="Кабинет пользователя">
        </a>
      </nav>
    </header>
    <section class="gallery">
        <h2>Галерея</h2>
        <div class="slider">
          <img class="active-photo" src="{{ url_for('static', filename='img/gallery-photo-4.jpg')}}" width="970" height="690" alt="">
          <ul class="preview-list">
            <li>
              <a href="{{ url_for('static', filename='img/gallery-photo-1.jpg')}}">
                <img src="{{ url_for('static', filename='img/preview-gallery-photo-1.jpg')}}" width="170" height="150" alt="">
              </a>
            </li>
            <li>
              <a href="{{ url_for('static', filename='img/gallery-photo-2.jpg')}}">
                <img src="{{ url_for('static', filename='img/preview-gallery-photo-2.jpg')}}" width="170" height="150" alt="">
              </a>
            </li>
            <li>
              <a href="{{ url_for('static', filename='img/gallery-photo-3.jpg')}}">
                <img src="{{ url_for('static', filename='img/preview-gallery-photo-3.jpg')}}" width="170" height="150" alt="">
              </a>
            </li>
            <li>
              <a href="{{ url_for('static', filename='img/gallery-photo-4.jpg')}}" class="active-item">
                <img src="{{ url_for('static', filename='img/preview-gallery-photo-4.jpg')}}" width="170" height="150" alt="">
              </a>
            </li>
          </ul>
        </div>
      </section>
          <footer class="main-footer">
      <div class="footer-container">
        <div class="footer-column">
          <a class="logo" href="/">
            <img src="{{ url_for('static', filename='img/logo.svg')}}" width="100" height="106" alt="Логотип яхт клуба">
          </a>
          <p class="policy"><a href="#">Политика конфиденциальности</a></p>
          <p class="copyright">Яхтклуб ©2020 Все права защищены</p>
        </div>
        <ul class="footer-navigation-topics">
          <li class="footer-navigation-topic">
            <h2>Компания</h2>
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a href="#">О нас</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Команда</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Новости</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Блог</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Галерея</a>
              </li>
            </ul>
          </li>
          <li class="footer-navigation-topic">
            <h2>Яхт-клуб</h2>
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a href="#">Правила</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Стоимость</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Анкета</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">FAQ</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Партнеры</a>
              </li>
            </ul>
          </li>
          <li class="footer-navigation-topic">
            <h2>Услуги</h2>
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a href="#">Аренда яхты</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Свадьба на яхте</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">День рождения</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Бизнес-встречи</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Прогулки</a>
              </li>
            </ul>
          </li>
          <li class="footer-navigation-topic">
            <h2>Регаты</h2>
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a href="#">Корпоративные регаты</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Календарь мероприятий</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Стать участником</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Результаты регат</a>
              </li>
              <li class="footer-navigation-item">
                <a href="#">Обучение</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
      <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>